# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.directory
MANIFEST


# dist files
dist/
*.zip
*.tar.gz
*.Rproj

build/
	*.*

# compiled code
*.so
*.o
*.lib
*.obj
*.dynlib
*.pyd
*.dll
isotree/cpp_interface.cpp


isotree.egg-info/
	*

build/
	*
.Rproj.user
.Rbuildignore
.Rhistory
