# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.directory
MANIFEST


# dist files
dist/
*.zip
*.tar.gz
*.Rproj

build/
	*.*

# compiled code
*.so
*.o
*.out
*.exe
*.lib
*.obj
*.dynlib
*.pyd
*.dll
test
isotree/cpp_interface.cpp


isotree.egg-info/
	*

build/
	*
.Rproj.user
.Rbuildignore
.Rhistory
safe/*
src/Makevars
config.log
config.status
autom4te.cache/*
