global-include *.pyx
global-include *.pxd 
global-include *.cpp
global-include *.hpp
exclude isotree/cpp_interface.cpp
exclude src/RcppExports.cpp
exclude src/Rwrapper.cpp
exclude src/Makevars
include pyproject.toml
exclude DESCRIPTION
exclude NAMESPACE
exclude README.md
exclude .gitattributes
global-exclude *.so
global-exclude *.o
global-exclude *.a
global-exclude *.exe
global-exclude *.dll
global-exclude *.dynlib
exclude include/*
prune man
prune R
prune docs
prune example
prune image
prune include
