useDynLib(isotree, .registration = TRUE)
importFrom(Rcpp, evalCpp)
S3method(predict,isolation_forest)
S3method(print,isolation_forest)
S3method(summary,isolation_forest)
export(unpack.isolation.forest)
export(add.isolation.tree)
export(isolation.forest)
export(get.num.nodes)
export(append.trees)
export(export.isotree.model)
export(load.isotree.model)
export(isotree.to.sql)
importFrom(parallel,detectCores)
importFrom(stats,predict)
importFrom(utils,head)
