useDynLib(isotree, .registration = TRUE)
importFrom(Rcpp, evalCpp)
S3method(predict,isolation_forest)
S3method(print,isolation_forest)
S3method(summary,isolation_forest)
export(unpack.isolation.forest)
export(add_isolation_tree)
export(isolation.forest)
importFrom(parallel,detectCores)
importFrom(stats,predict)
importFrom(utils,head)
